<html>
    <head>
        <title>Vue</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="app">
            {{ message }}
        </div><br>

        <div id="app-2">
            <span v-bind:title="message">
                Hover your mouse over me for a few seconds
                to see my dynamically bound title!
            </span>
        </div><br>

        <div id="app-3">
            <span v-if="seen">Now you see me</span><br>
            <button onclick="app3.seen =! app3.seen">Show/Hide</button>
        </div><br>

        <div id="app-4">
            <ol>
                <li v-for="todo in todos">
                    {{ todo.text }}
                </li>
            </ol>
            <button onclick="app4.todos.push({ text: 'New item' })">Push new item</button>
        </div><br>

        <div id="app-5">
            <p>{{ message }}</p>
            <button v-on:click="reverseMessage">Reverse Message</button>
        </div><br>

        <div id="app-6">
            <p>{{ message }}</p>
            <input v-model="message">
        </div>
        
        <script src="index.js"></script>
    </body>
</html>