* {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

body {
	background-color: #9b59b6;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: 0;
}

.containerv2 {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
    width: 1000px;
}

.row small {
	color: #e74c3c;
	visibility: hidden;
}

.row.error small {
	visibility: visible;
}

.row.success input {
	border-color: #2ecc71;
}

.row.error input {
	border-color: #e74c3c;
}
