<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Vue ej1</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
    <div id="app" class="container ms-3 mt-4">
        <textarea name="text" id="text" cols="100" rows="10" v-model="text" :style="changeColor()"></textarea><br><br>
        <p>Remaining characters: {{ remainingChars() }}</p>
        <button id="btn" class="btn btn-primary" :disabled="disableButton()">Tweet</button>
    </div>

    <script src="index.js"></script>
</body>

</html>