<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="index.css">
    <title>Examen</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<style>
    div {
        border-radius: 5px;
    }
    
    .contenedor {
        background-color: #CCC;
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-between;
    }

    .contenedorBig {
        background-color: #CCC;
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: space-between;
    }
    
    .contenido {
        height: 80px;
        width: 10%;
        float: left;
        margin: 10px;
    }

    .contenidoBig {
        height: 275px;
        width: 33%;
        float: left;
        margin: 10px;
    }

</style>

<body>

    <div id="app">
        {{ message }}
        <br><br>

        <div class="contenedor" style="top:0px">
            <div class="contenido" style="background-color:rgb(100, 80, 80);">&nbsp;</div>

            <div class="contenido" style="background-color:rgb(100, 80, 80);">&nbsp;
                <img id="llumImageL" src=".\llumoff.jpeg" height="80px" width="105px">
            </div>

            <div  style="background-color:rgb(57, 61, 57);">
                <img src=".\caroff.png" height="100px">
            </div>

            <div class="contenido" style="background-color:rgb(100, 80, 80);">&nbsp;
                <img id="llumImageR" src=".\llumoff.jpeg" height="80px" width="105px">
            </div>

            <div class="contenido" style="background-color:rgb(100, 80, 80);">&nbsp;</div>
        </div>


        <div class="contenedorBig" style=" position: relative;top: +10px;">
            <div class="contenidoBig" style="background-color:#CCC;">&nbsp;</div>

            <div class="contenidoBig" style="background-color:rgb(100, 80, 80); font-size:750%;">
                <textarea rows="15" cols="75" name="velocidad" id="velocidad" v-model="velocidad" disabled>{{ velocidad }}</textarea>
            </div>

            <div class="contenidoBig" style="background-color: #CCC(100, 80, 80);">&nbsp;</div>
        </div>


        <div class="contenedor" style=" position: relative;top: +20px;">
            <div class="contenido" style="background-color:rgb(100, 80, 80);">
                <label style="color:red; font-size: 400%;" >&nbsp;0 </label>
            </div>

            <div class="contenido" style="background-color:rgb(100, 80, 80);">
                 <label style="font-size: 400%;" >&nbsp;1 </label>
            </div>

            <div class="contenido" style="background-color:rgb(100, 80, 80);">
                <label style="font-size: 400%;" >&nbsp;2 </label>
            </div>

            <div class="contenido" style="background-color:rgb(100, 80, 80);">
                <label style="font-size: 400%;" >&nbsp;3 </label>
            </div>

            <div class="contenido" style="background-color:rgb(100, 80, 80);">
                <label style="font-size: 400%;" >&nbsp;4</label>
            </div>

            <div class="contenido" style="background-color:rgb(100, 80, 80);">
                <label style="font-size: 400%;" >&nbsp;5 </label>
            </div>

            <div class="contenido" style="background-color:rgb(100, 80, 80);">
                <label style="font-size: 400%;" >&nbsp;6 </label>
            </div>
        </div>


        <div class="contenedor" style=" position: relative;top: +20px;">
            <div class="contenido" style="background-color:rgb(100, 80, 80);">&nbsp;
                <img id="keyImage" src="./llave2.png" height="80px" width="105px" @click="changeImageFunction()">
            </div>

            <div class="contenido" style="background-color:rgb(100, 80, 80);">&nbsp;
            
            </div>

            <div class="contenido">&nbsp;
                <button :disabled="disableElement()" @click="cambiarIntermitenteL()" style="background-color:rgb(100, 80, 80);">
                    <img src="./arrowL.png" height="80px" width="105px">
                </button>
            </div>

            <div class="contenido">&nbsp;
                <button :disabled="disableElement()" @click="averia()" style="background-color:rgb(100, 80, 80);">
                    <img src="./avaria1.jpeg"  height="80px" width="105px" :disabled="disableElement()">
                </button>
            </div>

            <div class="contenido">&nbsp;
                <button :disabled="disableElement()" @click="cambiarIntermitenteR()" style="background-color:rgb(100, 80, 80);">
                    <img src="./arrowR.png" height="80px" width="105px">
                </button>
            </div>

            <div class="contenido" style="background-color:rgb(100, 80, 80);">&nbsp;
                <button style="font-size:200%" :disabled="disableElement()" v-on:mousedown="frena()"> Frena </button>
            </div>

            <div class="contenido" style="background-color:rgb(100, 80, 80);">&nbsp;
                <button style="font-size:150%" :disabled="disableElement()" v-on:mousedown="accelera()" v-on:mouseup="clear()"> Accelera </button>
            </div>
        </div>


    </div>

    <script src="index.js"></script>
   
</body>

</html>